In [9]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
import statsmodels.api as sm
import pickle as pkl
import scipy

In [10]:
!pip install statsmodels

Requirement already satisfied: statsmodels in c:\users\user\.jupyter\nituach\lib\site-packages (0.14.0)
Requirement already satisfied: numpy>=1.18 in c:\users\user\.jupyter\nituach\lib\site-packages (from statsmodels) (1.26.4)
Requirement already satisfied: scipy!=1.9.2,>=1.4 in c:\users\user\.jupyter\nituach\lib\site-packages (from statsmodels) (1.11.4)
Requirement already satisfied: pandas>=1.0 in c:\users\user\.jupyter\nituach\lib\site-packages (from statsmodels) (2.1.4)
Requirement already satisfied: patsy>=0.5.2 in c:\users\user\.jupyter\nituach\lib\site-packages (from statsmodels) (0.5.3)
Requirement already satisfied: packaging>=21.3 in c:\users\user\.jupyter\nituach\lib\site-packages (from statsmodels) (23.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\.jupyter\nituach\lib\site-packages (from pandas>=1.0->statsmodels) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\.jupyter\nituach\lib\site-packages (from pandas>=1.0->statsmodels) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\user\.jupyter\nituach\lib\site-packages (from pandas>=1.0->statsmodels) (2023.3)
Requirement already satisfied: six in c:\users\user\.jupyter\nituach\lib\site-packages (from patsy>=0.5.2->statsmodels) (1.16.0)

In [11]:
import pandas as pd
import pickle as pkl

# 1. טעינת הנתונים לחלק הליניארי (מכונות)
# הוספתי r לפני הגרשיים
df_poly = pkl.load(open(r"C:\Users\user\Desktop\Safety_Project_2026\group_21.pkl", 'rb'))
print("--- דאטה חלק ליניארי (df_poly) ---")
display(df_poly)

# 2. טעינת הנתונים לחלק הלוגיסטי א' (כימיקלים)
# הוספתי r לפני הגרשיים
df_part1 = pkl.load(open(r"C:\Users\user\Desktop\Safety_Project_2026\project_part_1_group_21.pkl", 'rb'))
print("\n--- דאטה חלק א' (df_part1) ---")
display(df_part1)

# 3. טעינת הנתונים לחלק הלוגיסטי ב' (תאונות)
# הוספתי r וגם את הנתיב המלא כדי שיהיה אחיד
#df_part2 = pkl.load(open(r"C:\Users\user\Desktop\Safety_Project_2026\project_part_2_group_21.pkl", 'rb'))
#print("\n--- דאטה חלק ב' (df_part2) ---")
#display(df_part2)

--- דאטה חלק ליניארי (df_poly) ---

     temperature   humidity  machine performance
0       9.605494  36.506589           517.485648
1      15.765125  30.186725           930.980847
2      21.996044  46.676605          2237.970389
3      13.106774  49.354163           994.915417
4      26.258359  42.532823          3192.045067
..           ...        ...                  ...
195     8.007555  35.930770           434.785094
196    29.121518  21.888231          3621.496248
197    12.116490  15.022784           404.203191
198     4.353536   6.063723            50.221715
199    28.373982  23.718856          3413.070417

[200 rows x 3 columns]

--- דאטה חלק א' (df_part1) ---

     Intercept       temp  rigid_bool  Hydrochloric_acid
0          1.0  14.922667       False               True
1          1.0  32.190319        True              False
2          1.0  23.400856       False               True
3          1.0  49.458169        True              False
4          1.0  39.222841        True              False
..         ...        ...         ...                ...
115        1.0  44.053245        True              False
116        1.0  17.202339       False               True
117        1.0  47.463760       False              False
118        1.0  31.809227        True              False
119        1.0  11.905994       False               True

[120 rows x 4 columns]